<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <test verbose="2" preserve-order="true"
          name="Api Automation Test Suite">
        <classes>
            <class name="framework.testscripts.Users.UpdateUserTc003"/>

            <class name="framework.testscripts.contacts.AddContactTc002"/>


        </classes>
    </test>
</suite>